body {
    background-color: #343a40; /* Fond sombre de la page */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background-color: #212529; /* Fond sombre pour le container */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
table {
    color: white; /* Couleur du texte du tableau */
}